body {
  font-family: "Roboto";
  margin: 0;
}
.progress-top {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.progress-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1000px) {
  .progress-top {
    flex-direction: column;
    align-items: center;
  }
}
